.intro {
  align-items: center;
}

.intro h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.intro h1::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -40px;
  z-index: -1;
  display: block;
  width: 130px;
  height: 130px;
  background-image: url("../img/detalhe.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1000px) {
  .intro h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .intro h1 {
    font-size: 2rem;
  }

  .intro h1::before {
    display: none;
  }
}

@media (max-width: 400px) {
  .intro {
    grid-template-columns: 1fr;
  }
  .intro img {
    margin: 0 auto;
    max-width: 75vw;
    order: 2;
  }
}
